AI Email Copilot Chatbot/workflow-1-orchestrator.json
{
  "name": "AI Email Copilot - Telegram Orchestrator",
  "nodes": [
    {
      "id": "tg_trigger",
      "name": "Telegram Trigger Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 200],
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "set_normalize_input",
      "name": "Set Normalize Chat Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [420, 200],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "chat.user_id", "value": "={{$json.message.from.id}}" },
            { "name": "chat.chat_id", "value": "={{$json.message.chat.id}}" },
            { "name": "chat.text", "value": "={{$json.message.text}}" },
            { "name": "chat.message_id", "value": "={{$json.message.message_id}}" },
            { "name": "chat.channel", "value": "telegram" },
            { "name": "chat.correlation_id", "value": "={{$json.message.message_id}}" }
          ],
          "boolean": [
            { "name": "prefs.redaction_enabled", "value": true }
          ],
          "number": [
            { "name": "prefs.default_limit", "value": 10 }
          ]
        }
      }
    },
    {
      "id": "ds_get_session",
      "name": "DataStore Get Session",
      "type": "n8n-nodes-base.dataStore",
      "typeVersion": 1,
      "position": [640, 120],
      "parameters": {
        "operation": "get",
        "key": "={{'session:' + $json['chat.user_id']}}"
      }
    },
    {
      "id": "ds_get_pending",
      "name": "DataStore Get Pending Action",
      "type": "n8n-nodes-base.dataStore",
      "typeVersion": 1,
      "position": [640, 280],
      "parameters": {
        "operation": "get",
        "key": "={{'pending:' + $json['chat.user_id']}}"
      }
    },
    {
      "id": "merge_session_pending",
      "name": "Merge Session + Pending",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [860, 200],
      "parameters": {
        "mode": "mergeByIndex"
      }
    },
    {
      "id": "if_is_confirmation",
      "name": "IF Is Confirmation Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 200],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json['chat.text']}}",
              "operation": "in",
              "value2": "confirm,approve,yes,אשר"
            }
          ]
        }
      }
    },
    {
      "id": "set_build_ai_input",
      "name": "Set Build AI Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1300, 120],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "chat.user_id", "value": "={{$json['chat.user_id']}}" },
            { "name": "chat.chat_id", "value": "={{$json['chat.chat_id']}}" },
            { "name": "chat.text", "value": "={{$json['chat.text']}}" },
            { "name": "chat.correlation_id", "value": "={{$json['chat.correlation_id']}}" },
            { "name": "session.raw", "value": "={{JSON.stringify($json.value || {})}}" },
            {
              "name": "safety_rules",
              "value": "Return JSON only. If ambiguous ask clarifying. Never fabricate email content. Never claim actions executed. Needs confirmation for archive, mark_read, label changes in bulk, and create draft. Bulk actions require dry-run preview: count and examples."
            }
          ],
          "boolean": [
            { "name": "prefs.redaction_enabled", "value": "={{$json['prefs.redaction_enabled']}}" }
          ],
          "number": [
            { "name": "prefs.default_limit", "value": "={{$json['prefs.default_limit']}}" }
          ]
        }
      }
    },
    {
      "id": "openai_decide_intent",
      "name": "OpenAI Decide Intent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2,
      "position": [1520, 120],
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": [
          {
            "role": "system",
            "content": "You are the AI brain for an email copilot. Output JSON only with fields: intent, confidence, needs_confirmation, message_to_user, email_insights{sentiment, urgency, summary, action_items{exists, items}}, action{type, params}. Allowed intent: search, summarize, draft_reply, label, archive, mark_read, ask_clarifying. Allowed action.type: gmail.search, gmail.get, gmail.thread, gmail.draft, gmail.label, gmail.archive, gmail.mark_read. If confidence low, use ask_clarifying. Never fabricate email content."
          },
          {
            "role": "user",
            "content": "User message: {{$json['chat.text']}}. Default limit: {{$json['prefs.default_limit']}}. Safety rules: {{$json['safety_rules']}}."
          }
        ],
        "responseFormat": "json"
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "code_parse_ai_json",
      "name": "Code Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 120],
      "parameters": {
        "jsCode": "const raw = $json;\nlet parsed;\ntry {\n  // Depending on node output shape, adjust path\n  const txt = raw?.choices?.[0]?.message?.content || raw?.data?.[0]?.message?.content || raw?.message?.content || raw?.content || raw;\n  parsed = typeof txt === 'string' ? JSON.parse(txt) : txt;\n  return [{ json: { ...$node['Set Build AI Input'].json, ai: { decision: parsed, schema_valid: true } } }];\n} catch (e) {\n  return [{ json: { ...$node['Set Build AI Input'].json, ai: { schema_valid: false, error: String(e) } } }];\n}"
      }
    },
    {
      "id": "if_ai_invalid",
      "name": "IF AI JSON Invalid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1960, 120],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{$json.ai.schema_valid}}", "operation": "isFalse" }
          ]
        }
      }
    },
    {
      "id": "telegram_send_invalid_json",
      "name": "Telegram Send Response - Invalid JSON",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2180, 60],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$json['chat.chat_id']}}",
        "text": "לא הצלחתי להבין. נסח מחדש בבקשה."
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "code_validate_action_params",
      "name": "Code Validate Action Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 180],
      "parameters": {
        "jsCode": "const d = $json.ai.decision;\nconst errors = [];\nconst allowedIntents = new Set(['search','summarize','draft_reply','label','archive','mark_read','ask_clarifying']);\nconst allowedTypes = new Set(['gmail.search','gmail.get','gmail.thread','gmail.draft','gmail.label','gmail.archive','gmail.mark_read']);\nif (!d || typeof d !== 'object') errors.push('decision_missing');\nif (!allowedIntents.has(d.intent)) errors.push('invalid_intent');\nif (!d.action || !allowedTypes.has(d.action.type)) errors.push('invalid_action_type');\nconst params = d.action?.params || {};\nlet isBulk = false;\n// Basic param checks per type\nif (d.action?.type === 'gmail.search') {\n  if (!params.query || typeof params.query !== 'string') errors.push('search_query_missing');\n  const limit = params.limit ?? 10;\n  if (typeof limit !== 'number' || limit < 1 || limit > 10) errors.push('search_limit_invalid');\n}\n// Bulk detection: ids array or query used for destructive actions\nif (Array.isArray(params.ids) && params.ids.length > 1) isBulk = true;\nif (['gmail.label','gmail.archive','gmail.mark_read'].includes(d.action?.type) && typeof params.query === 'string') isBulk = true;\n\n// Enforce confirmation rules from document\nlet needsConf = !!d.needs_confirmation;\nif (['gmail.archive','gmail.mark_read','gmail.draft'].includes(d.action?.type)) needsConf = true;\nif (d.action?.type === 'gmail.label' && isBulk) needsConf = true;\n\n// Bulk must have limit for preview/execution safety\nif (isBulk) {\n  const limit = params.limit ?? 10;\n  if (typeof limit !== 'number' || limit < 1 || limit > 50) errors.push('bulk_limit_required');\n}\n\nreturn [{ json: { ...$json, action: { valid: errors.length === 0, errors, is_bulk: isBulk, needs_confirmation: needsConf } } }];"
      }
    },
    {
      "id": "if_action_invalid",
      "name": "IF Action Invalid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2400, 180],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{$json.action.valid}}", "operation": "isFalse" }
          ]
        }
      }
    },
    {
      "id": "telegram_send_action_invalid",
      "name": "Telegram Send Response - Action Invalid",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2620, 120],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$json['chat.chat_id']}}",
        "text": "הבקשה לא תקינה או חסר מידע. נסח מחדש או תן פרטים נוספים."
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "if_needs_confirmation",
      "name": "IF Needs Confirmation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2620, 260],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{$json.action.needs_confirmation}}", "operation": "isTrue" }
          ]
        }
      }
    },
    {
      "id": "switch_action_type",
      "name": "Switch Execute Action Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [2840, 420],
      "parameters": {
        "value1": "={{$json.ai.decision.action.type}}",
        "rules": [
          { "operation": "equal", "value2": "gmail.search" },
          { "operation": "equal", "value2": "gmail.get" },
          { "operation": "equal", "value2": "gmail.thread" }
        ]
      }
    },
    {
      "id": "gmail_search",
      "name": "Gmail Search Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [3060, 320],
      "parameters": {
        "operation": "search",
        "query": "={{$json.ai.decision.action.params.query}}",
        "returnAll": false,
        "limit": "={{$json.ai.decision.action.params.limit || $json['prefs.default_limit']}}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_ME",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "id": "gmail_get",
      "name": "Gmail Get Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [3060, 420],
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.ai.decision.action.params.id}}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_ME",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "id": "gmail_thread",
      "name": "Gmail Get Thread",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [3060, 520],
      "parameters": {
        "operation": "getThread",
        "threadId": "={{$json.ai.decision.action.params.thread_id}}"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_ME",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "id": "code_clean_redact",
      "name": "Code Clean And Redact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 420],
      "parameters": {
        "jsCode": "function redact(text) {\n  if (!text || typeof text !== 'string') return text;\n  let t = text;\n  // basic patterns only\n  t = t.replace(/\\b\\d{3}[- ]?\\d{7}\\b/g, '[REDACTED_PHONE]');\n  t = t.replace(/\\b\\d{9}\\b/g, '[REDACTED_ID]');\n  return t;\n}\n\nconst redactionEnabled = $json.prefs?.redaction_enabled !== false;\nconst input = $json;\nlet out = { ...input };\n// Minimal: ensure we do not pass full raw HTML if not needed\n// Adjust fields based on Gmail node output shape\nconst payload = JSON.stringify(input);\nout.cleaned = redactionEnabled ? redact(payload) : payload;\nreturn [{ json: out }];"
      }
    },
    {
      "id": "openai_summarize",
      "name": "OpenAI Summarize",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2,
      "position": [3500, 420],
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": [
          {
            "role": "system",
            "content": "Summarize email results. For each item output: one_line_summary, urgency_1_to_5, category, recommended_next_action. Keep it short. Do not fabricate."
          },
          {
            "role": "user",
            "content": "Data: {{$json.cleaned}}"
          }
        ]
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "telegram_send_result",
      "name": "Telegram Send Response - Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [3720, 420],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$json['chat.chat_id']}}",
        "text": "={{$json.choices?.[0]?.message?.content || 'בוצע'}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "ds_log_audit",
      "name": "DataStore Log Action Audit",
      "type": "n8n-nodes-base.dataStore",
      "typeVersion": 1,
      "position": [3940, 420],
      "parameters": {
        "operation": "set",
        "key": "={{'audit:' + $json['chat.user_id'] + ':' + $json['chat.correlation_id']}}",
        "value": "={{JSON.stringify({ user_id: $json['chat.user_id'], correlation_id: $json['chat.correlation_id'], decision: $json.ai?.decision, action: $json.action, ts: new Date().toISOString() })}}"
      }
    },
    {
      "id": "ds_save_pending",
      "name": "DataStore Save Pending Action",
      "type": "n8n-nodes-base.dataStore",
      "typeVersion": 1,
      "position": [3060, 160],
      "parameters": {
        "operation": "set",
        "key": "={{'pending:' + $json['chat.user_id']}}",
        "value": "={{JSON.stringify({ action_type: $json.ai.decision.action.type, params: $json.ai.decision.action.params, preview: { note: 'pending confirmation' }, correlation_id: $json['chat.correlation_id'], created_at: new Date().toISOString() })}}"
      }
    },
    {
      "id": "telegram_send_confirm_request",
      "name": "Telegram Send Response - Request Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [3280, 160],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$json['chat.chat_id']}}",
        "text": "נדרשת פעולה עם אישור. השב 'אשר' כדי לבצע, או כתוב שינוי/ביטול."
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger Message": {
      "main": [[{ "node": "Set Normalize Chat Input", "type": "main", "index": 0 }]]
    },
    "Set Normalize Chat Input": {
      "main": [
        [{ "node": "DataStore Get Session", "type": "main", "index": 0 }],
        [{ "node": "DataStore Get Pending Action", "type": "main", "index": 0 }]
      ]
    },
    "DataStore Get Session": {
      "main": [[{ "node": "Merge Session + Pending", "type": "main", "index": 0 }]]
    },
    "DataStore Get Pending Action": {
      "main": [[{ "node": "Merge Session + Pending", "type": "main", "index": 1 }]]
    },
    "Merge Session + Pending": {
      "main": [[{ "node": "IF Is Confirmation Message", "type": "main", "index": 0 }]]
    },
    "IF Is Confirmation Message": {
      "main": [
        [
          { "node": "Telegram Send Response - Request Confirm", "type": "main", "index": 0 }
        ],
        [
          { "node": "Set Build AI Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Build AI Input": {
      "main": [[{ "node": "OpenAI Decide Intent", "type": "main", "index": 0 }]]
    },
    "OpenAI Decide Intent": {
      "main": [[{ "node": "Code Parse AI JSON", "type": "main", "index": 0 }]]
    },
    "Code Parse AI JSON": {
      "main": [[{ "node": "IF AI JSON Invalid", "type": "main", "index": 0 }]]
    },
    "IF AI JSON Invalid": {
      "main": [
        [{ "node": "Telegram Send Response - Invalid JSON", "type": "main", "index": 0 }],
        [{ "node": "Code Validate Action Params", "type": "main", "index": 0 }]
      ]
    },
    "Code Validate Action Params": {
      "main": [[{ "node": "IF Action Invalid", "type": "main", "index": 0 }]]
    },
    "IF Action Invalid": {
      "main": [
        [{ "node": "Telegram Send Response - Action Invalid", "type": "main", "index": 0 }],
        [{ "node": "IF Needs Confirmation", "type": "main", "index": 0 }]
      ]
    },
    "IF Needs Confirmation": {
      "main": [
        [{ "node": "DataStore Save Pending Action", "type": "main", "index": 0 }],
        [{ "node": "Switch Execute Action Type", "type": "main", "index": 0 }]
      ]
    },
    "DataStore Save Pending Action": {
      "main": [[{ "node": "Telegram Send Response - Request Confirm", "type": "main", "index": 0 }]]
    },
    "Switch Execute Action Type": {
      "main": [
        [{ "node": "Gmail Search Emails", "type": "main", "index": 0 }],
        [{ "node": "Gmail Get Email", "type": "main", "index": 0 }],
        [{ "node": "Gmail Get Thread", "type": "main", "index": 0 }]
      ]
    },
    "Gmail Search Emails": {
      "main": [[{ "node": "Code Clean And Redact", "type": "main", "index": 0 }]]
    },
    "Gmail Get Email": {
      "main": [[{ "node": "Code Clean And Redact", "type": "main", "index": 0 }]]
    },
    "Gmail Get Thread": {
      "main": [[{ "node": "Code Clean And Redact", "type": "main", "index": 0 }]]
    },
    "Code Clean And Redact": {
      "main": [[{ "node": "OpenAI Summarize", "type": "main", "index": 0 }]]
    },
    "OpenAI Summarize": {
      "main": [[{ "node": "Telegram Send Response - Result", "type": "main", "index": 0 }]]
    },
    "Telegram Send Response - Result": {
      "main": [[{ "node": "DataStore Log Action Audit", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionTimeout": 300,
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "1"
}
